<div class="alert alert-danger">
  <%= presenter.message %>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-3">
      <%= image_tag("#{presenter.thumbnail}") %>
    </div>
    <div class="col-xs-3">
      <p class="unauthorized_asset_title">
        <%= presenter.title %>
      <p>
    </div>
  </div>
</div>
