<div class="home_call_action col-xs-12 col-sm-12">
  <% if can?(:view_share_work, GenericFile) %>
    <div class="home_share_work">
      <a class="btn btn-primary btn-lg btn-block" id="contribute_link" href="/files/new"><i class="glyphicon glyphicon-upload"></i> Upload Your Assets</a>
    </div><!-- /.home_share_work -->
  <% end %>
</div><!-- /.col-xs-3 -->