<li>
  <h2>
    <%= link_to actor.title_or_label, actor_path(actor) %>
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <%= render_thumbnail_tag actor %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/attributes', work: actor %>
    </table>
  </div>
</li>
