<div class='autocomplete-components'>
<h4>Documents</h4>
<p><em>Assets documenting this resource.</em></p>
<%= f.input key, as: :hidden_multi_select, property: :documents, hint: false, label: false,
    input_html: { class: 'form-control' }, required: false %>
</div>
