<% if action_name == 'edit' %>
  <div class="form-group select required generic_work_second_document_sub_type_uri"
       data-uri="<%= f.object.uri_for(:second_document_sub_type)%>">
  </div>
<% end %>
