<p><%= link_to "Add Representations",
    sufia.new_batch_upload_path(representation_for: @presenter, resource_title: @presenter.display_pref_label_and_uid), { class: "add_representations_btn" }%></p>
<p><%= link_to "Add Documentation",
    sufia.new_batch_upload_path(document_for: @presenter, resource_title: @presenter.display_pref_label_and_uid), { class: "add_document_btn" } %></p>

<% if @presenter.has_relationships? %>
  <%= render '/curation_concerns/base/relationships_table', presenter: @presenter %>
<% else %>
  <p>No relationships found for this <%= @presenter.human_readable_type.gsub('Work', 'Object') %></p>
<% end %>
