<h2>Properties</h2>
<dl id="show_descriptions" class="dl-horizontal file-show-term file-show-descriptions">
  <% present_terms(@presenter,@presenter.terms - [:title]) do |r, term| %>
  <dt><%= r.label(term) %></dt>
      <dd><%= r.value(term) %></dd>
  <% end %>
</dl>

