<div id="show_actions">
<h2 class="non lower">Actions</h2>
  <p>
    <% if can? :edit, @resource %>
      <%= link_to "Edit", edit_resource_path %>
    <% end %>
    <% if can?(:create, FeaturedWork) && @resource.featureable? %>
      <% if FeaturedWork.can_create_another? && !@resource.featured?%>
        &nbsp;|&nbsp;
        <%= link_to "Feature", sufia.featured_work_path(@resource, format: :json), data: {behavior: 'feature'} %>
      <% elsif @resource.featured? %>
        &nbsp;|&nbsp;
        <%= link_to "Unfeature", sufia.featured_work_path(@resource, format: :json), data: {behavior: 'unfeature-page'} %>
      <% end %>
    <% end %>
  </p>
</div>
