<div id="show_actions">
<h2 class="non lower">Actions</h2>
  <p>
    <% if can? :edit, @resource %>
      <%= link_to "Edit", edit_resource_path %> |
      <%= link_to "Add representations", sufia.new_generic_file_path(representation_for: params[:id]) %> |
      <%= link_to "Add documents", sufia.new_generic_file_path(document_for: params[:id]) %> |
    <% end %>
  </p>
</div>
