<div id="show_actions">
<h2 class="non lower">Actions</h2>
  <p>
    <% if can? :edit, @work %>
      <%= link_to "Edit", edit_work_path(@work) %>
    <% end %>
    <% if can?(:create, FeaturedWork) && @work.public? %>
      <% if FeaturedWork.can_create_another? && !@work.featured?%>
        &nbsp;|&nbsp;
        <%= link_to "Feature", sufia.featured_work_path(@work, format: :json), data: {behavior: 'feature'} %>
      <% elsif @work.featured? %>
        &nbsp;|&nbsp;
        <%= link_to "Unfeature", sufia.featured_work_path(@work, format: :json), data: {behavior: 'unfeature-page'} %>
      <% end %>
    <% end %>
  </p>
</div>
