<tr>
  <th><%= attribute_label %></th>
  <td>
    <ul class="tabular">
      <li class="attribute"><%= link_to_document attribute_doc, document_show_link_field(attribute_doc) %>
      </li>
    </ul>
  </td>
</tr>
