<h3><%= representation %></h3>
<table class="table table-striped relationships">
  <tbody>
    <tr><th>File</th><th>Asset</th><th>UID</th></tr>
    <% presenters.each do |asset| %>
      <tr>
        <td><%= render 'representative_media', presenter: asset %></td>
        <td><%= link_to asset.to_s, polymorphic_path([main_app, asset]) %></td>
        <td><%= asset.uid %></td>
      </tr>
    <% end %>
  </tbody>
</table>
