<div class="show-actions">
  <% if Sufia.config.analytics %>
    <%= link_to "Analytics", presenter.stats_path, id: 'stats', class: 'btn btn-default' %>
  <% end %>
  <% if presenter.editor? %>
      <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
      <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete if presenter.deleteable? %>
  <% end %>
  <% unless presenter.imaging_uid.empty? %>
    <a href="http://phoenix.artic.edu/order/create/batch/<%= presenter.imaging_uid.first %>" class='btn btn-default'>Create Lab Work</a>
  <% end %>
</div>
