<div class="col-xs-12 col-sm-6">
  <div>
    <%= render 'recently_uploaded', recent_documents: @recent_documents %>
  </div>
</div><!-- /.col-xs-6 -->
<div class="col-xs-12 col-sm-6">
  <div>
    <h2>Advanced Search</h2>
    <%= render 'advanced/advanced_search_form' %>
  </div>
</div>
