<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="comment_edit">Edit list item</h4>
  </div>
  <div class="modal-body">
    <div id="descriptions_display" class="tab-pane active">
      <%= simple_form_for @form, url: list_list_item_path, html: { multipart: true } do |f| %>
        <div class="well">
          <% @form.terms.each do |term| %>
            <%= render_edit_field_partial(term, f: f) if @form.editable?(term) %>
          <% end %>
        </div>
        <div>
          <%= f.submit class: 'btn btn-primary', id: "upload_submit", name: "update_descriptions" do %>
            <i class="glyphicon glyphicon-floppy-disk"></i> Save Descriptions
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
