/* Scss Document */

@font-face {
  font-family: 'idealsans';
  src: font-url('IdealSans-Thin.otf') format('truetype');
}

$aicred: #9d1c33;
$white: #ffffff;
$linkcolor: #9d9d9d;

.advance-search {
    top: 30px;
    position: absolute;
	color: $linkcolor;
	text-decoration: none;
	&:hover {
    	color: $white;
		text-decoration: none;
  	}
}

#search-form-header, .navbar-header {
    margin-top: 15px;
	margin-bottom: 15px;
}

.institution_name {
  	font-family: 'idealsans';
   	font-size: 1.5em;
    display: inline-block;
    left: 115px;
    top: 19px;
    position: absolute;
    line-height: 30px;
    color: $white;
    letter-spacing: 1px;
    font-weight: 100;
	text-decoration: none;
}

a.institution_name, a:link.institution_name, a:visited.institution_name, a:hover.institution_name, a:active.institution_name {
	color: $white;
	text-decoration: none;
}

#search-submit-header {
    background-color: $aicred;
    border-color: $aicred;
}

#search-submit-header:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.dropdown-toggle {
	border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
	border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.navbar-default {
    background-color: #222;
    border-color: #222;
}

.navbar-nav > li > a {
	padding-top: 0px;
}

.navbar-text {
	margin-bottom: 0px;
}

div.facets h3 {
    font-size: 1.3em;
}

#footer .navbar {
	margin-bottom: 0px;
	min-height: 25px;
}

table.autocomplete-components {
  width: 100%;
}

div table.autocomplete-components td,
div#documents td {
  vertical-align: top;
}

table.autocomplete-components div.autocomplete.bigdrop {
  width: 80%;
}

table.autocomplete-components table.table-condensed {
  width: 100%;
}

div.autocomplete-components {
  width: 650px;
}

div.autocomplete-components div.autocomplete.bigdrop {
  width: 530px;
}

div.autocomplete-components table.table-condensed {
  width: 100%;
}

table.autocomplete-components a.btn,
div.autocomplete-components a.btn {
  width: 86px;
  float: right;
}

h3.asset-relationships {
  margin-bottom: 30px;
}

table.table-condensed > tbody > tr > td {
  padding-right: 0;
}

ul.nav {
	padding-right: 0px;
}

#osd_modal_bg {
        position: absolute;
        display: none;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.5);
}

#osd_canvas {
        position: absolute;
        top: 200px;
        left: 100px;
        bottom: 100px;
        right: 100px;
        z-index: 999;
        background-color: white;
}

#home_header {
    background-image: image-url('lakeshore-2.jpg');
    background-position: 0% 50%;
}

.btn.citi-btn {
  background-image: image-url('CITI_Link_icon-32.png');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 32px;
}

// Hide batch edit button until batch edit functionality is fully functional.
input#batch-edit {
    display: none;
}

/* Temporarily hide individual upload button in home page until that is
supported. */
div.home_share_work {
    display: none;
}

table.relationships img {
	max-height: 150px;
}
