$mastheadcolor: #f2f2f3;
$aicred: #9d1c33;
$yellow: #F0CA00;

#wrapper {
  background-image: linear-gradient(to bottom, #ffffff 0%, #FFFFFF 100%);
  }

#masthead {
  background: $aicred;
  height: 78px;
  min-height: 78px;
  }
  
.nav > li > a {
  display: inline-block;
  }
  
#masthead .institution_name {
  font-size: 1.75em;
  display: inline-block;
  left: 95px;
  top: 9px;
  position: absolute;
  line-height: 30px;
  }

#logo {
  top: 0px;
  position: absolute;
  }
  



