$mastheadcolor: #f2f2f3;
$aicred: #9d1c33;
$yellow: #F0CA00;

#wrapper {
  background-image: linear-gradient(to bottom, #ffffff 0%, #FFFFFF 100%);
  }
  
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  }

.row {
  margin-left: 0px;
  margin-right: 0px;
  }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, #search-navbar .search-query-form, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0px;
  padding-right: 15px;
  }

#content-wrapper {
  background-color: $mastheadcolor;
  }

#content {
  padding-top: 0;
  }


#masthead {
  background: $aicred;
  height: 78px;
  min-height: 78px;
  }
  
#masthead .institution_name {
  font-size: 1.75em;
  display: inline-block;
  left: 95px;
  top: 9px;
  position: absolute;
  line-height: 30px;
  }

#logo {
  top: 0px;
  position: absolute;
  }
  
#footer {
  background: $aicred;
  position: absolute;
  bottom: 0px;
  height: 3.5em;
  min-height: 3.5em;
  width: 100%;
    .nav > li > a {
      display: block;
      padding: 0px 15px;
	  color: $yellow;
      }
  }

.navbar-default {
  background-color: $aicred;
  border: 0;
  float: right;
  }



