<li>
  <h2>
    <%= link_to transaction.title_or_label, transaction_path(transaction) %>
  </h2>
  <div class="row">
    <div class="col-sm-3">
      <%= render_thumbnail_tag transaction %>
    </div>
    <div class="col-sm-9">
      <%= render 'shared/attributes', work: transaction %>
    </table>
  </div>
</li>
