<li>
  <%= link_to raw('<span class="glyphicon glyphicon-upload"></span> upload'), sufia.new_generic_file_path, id: 'upload_nav_link' %>
</li>
<li>
  <%= link_to raw('<span class="glyphicon glyphicon-tags"></span> add tag category'), new_tag_cat_path, id: 'new_tag_cat_link' %>
</li>
<li>
  <%= link_to raw('<span class="glyphicon glyphicon-tags"></span> add tag'), new_tag_path, id: 'new_tag_link' %>
</li>
<li>
  <%= link_to raw('<span class="glyphicon glyphicon-tags"></span> add work'), new_work_path, id: 'new_work_link' %>
</li>
