<p><%= t('lakeshore.upload.asset_types') %></p>
<div class="asset asset-text">
  <h2>Text Types</h2>
  <ul>
    <% AssetType::Text.types.each do |type| %>
      <% if type.friendly %>
        <li><%= type.friendly %></li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="asset asset-image">
  <h2>Image Types</h2>
  <ul>
    <% AssetType::Image.types.each do |type| %>
      <% if type.friendly %>
        <li><%= type.friendly %></li>
      <% end %>
    <% end %>
  </ul>
</div>
