<% [AssetType::StillImage, AssetType::Text, AssetType::Dataset, AssetType::MovingImage,
    AssetType::Sound, AssetType::Archive].each do |type_class| %>
  <div class="asset asset-<%= type_class.key %>">
    <div class="row col-sm-8 col-md-6 col-lg-6">
      <%= t("lakeshore.upload.asset_type_descr_#{type_class.key}_html") %>
    </div>
    <div class="col-sm-4 col-md-6 col-lg-6">
      <p><%= t('lakeshore.upload.asset_types') %></p>
      <ul>
        <% type_class.types.each do |type| %>
          <% if type.friendly %>
            <li><%= type.friendly %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

